<!-- CASCADA DE NAVEGACIÓN RESPONSIVE "MARCA | PRODUCTO | NOMBRE" -->
<div
    class="border px-3 py-2 text-xs md:text-sm text-slate-600 flex flex-nowrap items-center gap-1 overflow-x-auto scrollbar-hide whitespace-nowrap"
>
    <a
        href="https://www.ds3comunicaciones.com/index.html"
        class="shrink-0 hover:text-blue-600"
    >
        <i class="fa-solid fa-house text-[0.9em]"></i>
    </a>
    <span class="text-gray-400 shrink-0"
        ><i class="fa-solid fa-angle-right text-[0.8em]"></i></span
    >
    <a
        href="https://www.ds3comunicaciones.com/AMP/index.html"
        class="shrink-0 hover:underline hover:text-blue-600"
    >
        AMP
    </a>
    <span class="text-gray-400 shrink-0"
        ><i class="fa-solid fa-angle-right text-[0.8em]"></i></span
    >
    <a
        href="https://www.ds3comunicaciones.com/AMP/index.html#cablecat6"
        class="shrink-0 hover:underline hover:text-blue-600"
    >
        Cable de red Cat 6
    </a>
    <span class="text-gray-400 shrink-0"
        ><i class="fa-solid fa-angle-right text-[0.8em]"></i></span
    >
    <span class="text-slate-800 font-medium shrink-0">
        C9200L-24P-4G-E
    </span>
</div>
