---
import Layout from "../layouts/Layout.astro";
// importando components/content
import SubMenuMarca from "../components/content/SubmenuMarca.astro";
import CascadaNavegacion from "../components/content/CascadaNavegacion.astro";
import SidebarDerecho from "../components/content/SidebarDerecho.astro";
import ProductosSimilares from "../components/content/ProductosSimilares.astro";

import "../styles/global.css";

---


<Layout title="Switch Cisco Catalyst  C9200L-24P,  capa L3 con 24 puertos Gigabit PoE+ (370W) , 04 puertos para fibra SFP   C9200L-24P-4G-E">
    <SubMenuMarca />
    <main>
        <CascadaNavegacion />
        <SidebarDerecho />
        <ProductosSimilares />
    </main>
</Layout>
